name: Build & Deploy

on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy HTML to server
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.SSH_USERNAME }}
          passphrase: ${{ secrets.SERVER_PASSPHRASE }}
          script: |
            echo "Starting deploy..."

            sudo tee /var/www/html/index.html > /dev/null <<EOF
            <!DOCTYPE html>
            <html lang="uk">
            <head>
              <meta charset="UTF-8">
              <title>Test Deploy</title>
            </head>
            <body>
              <h1>Привіт, я Тарас, якщо ви це читаєте у мене все запрацювало</h1>
            </body>
            </html>
            EOF

            echo "Deploy successful"
