name: Build & Deploy

on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy HTML to server
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.SSH_USERNAME }}
          passphrase: ${{ secrets.SERVER_PASSPHRASE }}

          script: |
            echo "Starting deploy..."
            echo "<h1>Привіт, я Тарас, якщо я тут значить все працює</h1>" | sudo tee /var/www/html/index.html
            echo "Deploy successful"
