name: Build & Deploy
on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy NodeJS app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
          passphrase: ${{ secrets.SERVER_PASSPHRASE }}
     
          script: |
            mkdir lebedunsky_taras 
            cd lebedunsky_tara 
            git clone https://github.com/lebedunsky/KI-31_LABA_2_CI_CD.git
            echo 'Deployment successful to digital ocean d1' 
